<p>
Hotel Names: <select>
  <option value="balagio">balagio</option>
  <option value="Paris Paris">Paris</option>
  <option value="Planet">Planet</option>
  <option value="wings">Wings</option>
  <option value="CeaserPalace">CeaserPalace</option>
  <option value="Vinetian">Venitian</option>
  <option value="Mirage">Mirage</option>
  <option value="Universal">Universal</option>
  </select>&nbsp;
  Type of the rooms:
  <select>
  <option value="Single">Single</option>
  <option value="Double">Double</option>
  <option value="Family">Family</option>
  <option value="Queen">Super Queen</option>
  <option value="Lexuary">Lexuary</option>
  <option value="King">King</option>
  </select>
  <br>
  <br>
  Number of Adult : &nbsp;&nbsp; &nbsp;&nbsp; <input type="text"> &nbsp;&nbsp;
  <br>
  <br>
  Number of Children :&nbsp; <input type="text">
  <br>
  <br>
  Check in : &nbsp; <input type="date">
  Check out :<input type="date">
<br>
<br>
<button id="book"(click)=clicked();> Booking</button>
 &nbsp;&nbsp; &nbsp;&nbsp;
  <button id="reserve"(click)=Rclicked();>Reserved</button>
</p>