<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()"" class=form-reg>
  <label class="reg" for="fullname">Full Name :  </label>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <input id="fullname" formControlName="FullName" type="text" class="reg1">
  <br>
  <br>
 <label class="reg" for="Email">Email :  </label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id="Emailtext" formControlName="email" type="text" class="reg1"> 
  <br>
  <br>
  <label class="reg" for="Date_Of_Birth">Date of Birth :  </label>
  <input id="Date_Of_Birthtext" formControlName="DOB" type="text" class="reg1">
  <br>
  <br>
 <label class="Password" for="Password"> Password :  </label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input id="fullnamepassword" formControlName="PassWord" type="password" class="reg1"> 
  <br>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button id="regbtn" class="reg" type="submit" (click)= save();>save</button>