<ul>
<li class="menu"> <a routerLink="home">Home </a></li>
<li class = "menu"><a routerLink="hotels">Hotels</a></li>
<li class = "menu"><a routerLink="car">Cars </a></li>
<li class = "menu"><a routerLink>Deals </a></li>
<li class = "menu"><a routerLink>Restuarant </a></li>
<li class = "menu"><a routerLink="help">Help </a></li>

<br>
<br>
<div *ngFor= "let names of name" class =menu1>{{names}}</div>
<br>
<br>
<h3 class= menu2>{{heading}}</h3>
</ul>
<h4 class = "me"><a routerLink="registration">New Registration </a></h4>